In [1]:
import pandas as pd
import numpy as np

## Q1 Create a pandas series from a dictionary of values and an ndarray.

In [6]:
## Series using dictionary.
print("Series using Dictionary")
fruits_price={'Apple':150,'Mango':100,'Banana':80,'Orange':120,'Pineapple':300,'Watermelon':35}
series_fruits = pd.Series(data=fruits_price)
print(series_fruits)
print()

# Series using ndarray.
print("Series using ndarray")
arr = np.array([150,100,80,120,300,35])
series_arr = pd.Series(arr)
print(series_arr)

Series using Dictionary
Apple         150
Mango         100
Banana         80
Orange        120
Pineapple     300
Watermelon     35
dtype: int64

Series using ndarray
0    150
1    100
2     80
3    120
4    300
5     35
dtype: int64

## Q2 Create a Series and print all the elements that are above 75th percentile.

In [23]:
#printing all elments above 75th percentile
num = np.array([10,21,13,45,21,56,78,100,12])
num_series = pd.Series(num)
filt = (num_series>num_series.quantile(0.5)) & (num_series<num_series.max())
num_series[filt]

3    45
5    56
6    78
dtype: int64

## Q3 Perform sorting on Series data and DataFrames.

In [11]:
#Sorting values from the series
print("Sorting values from the series")
data_num = np.array([10,13,21,34,6,24,15,78])
series = pd.Series(data_num)
sorted_series = series.sort_values()
print(sorted_series)
print()

print("sorting the values from dataframe")
data = {'row_1': [3, 2, 1, 0], 'row_2': ['a', 'b', 'c', 'd']}
df = pd.DataFrame(data=data)
sorted_df = df.sort_values(by="row_1")
print(sorted_df)

Sorting values from the series
4     6
0    10
1    13
6    15
2    21
5    24
3    34
7    78
dtype: int64

sorting the values from dataframe
   row_1 row_2
3      0     d
2      1     c
1      2     b
0      3     a

## Q4 Write a program to implement pivot() and pivot-table() on a DataFrame.

In [12]:
#implementing pivot
data_col = pd.DataFrame(data={"name":["rohit","deepak","vaibhav","aryan"],"age":[22,20,19,20],"rollno":[39,42,22,41]})
print(data_col.pivot(index="rollno",columns="name",values="age"))
print()
#implementing pandas.pivot_table()
pd.pivot_table(data_col,index="name")

name    aryan  deepak  rohit  vaibhav
rollno
22        NaN     NaN    NaN     19.0
39        NaN     NaN   22.0      NaN
41       20.0     NaN    NaN      NaN
42        NaN    20.0    NaN      NaN

         age  rollno
name
aryan     20      41
deepak    20      42
rohit     22      39
vaibhav   19      22

## Q5 Write a program to find mean absolute deviation on a DataFrame.

In [4]:
student_data = pd.DataFrame(data={'ID': {0: 23, 1: 43, 2: 12,
                          3: 13, 4: 67, 5: 89, 
                          6: 90, 7: 56, 8: 34},
                     
                   'Name': {0: 'Ram', 1: 'Deep',
                            2: 'Yash', 3: 'Aman',
                            4: 'Arjun', 5: 'Aditya',
                            6: 'Akash',7: 'Chalsea',
                            8: 'Divya'},
  
                   'Marks': {0: 89, 1: 97, 2: 45, 
                             3: 78, 4: 56, 5: 76,
                             6: 81, 7: 87, 8: 100},
  
                   'Grade': {0: 'B', 1: 'A', 2: 'F', 3: 'C',
                             4: 'E', 5: 'C', 6: 'B', 7: 'B',
                             8: 'A'}})

print(student_data.Marks.mad())

AttributeError: 'Series' object has no attribute 'mad'

## Q6 Two Series object, Population stores the details of four metro cities of India and another object AvgIncome stores the total average income reported in four years in these cities. Calculate income per capita for each of these metro cities

In [18]:
population = pd.Series(data={"NCR":46069000,"Mumbai":20961000,"Kolkata":15134000,"Banglore":13193000})
print("population of Cities")
print(population)
print()
AvgIncome = pd.Series(data={"NCR":12000000,"Mumbai":160000000,"Kolkata":650000,"Banglore":8900000})
print("Average income of cities")
print(AvgIncome)
print()
percapita = AvgIncome/population
print("Per capita income of cities")
print(percapita)

population of Cities
NCR         46069000
Mumbai      20961000
Kolkata     15134000
Banglore    13193000
dtype: int64

Average income of cities
NCR          12000000
Mumbai      160000000
Kolkata        650000
Banglore      8900000
dtype: int64

Per capita income of cities
NCR         0.260479
Mumbai      7.633224
Kolkata     0.042950
Banglore    0.674600
dtype: float64

## Q7 Create a DataFrame based on E-Commerce data and generate mean, mode, median

In [19]:
ecom={
    "products":["headphone","mobile","airpodes","speaker","laptop","grinder"],
    "quantity":[3000,2000,8000,3432,1200,870],
    "price":[1200,25000,3000,5000,70000,1200],
    "discount":[0.12,0.15,0.07,0.05,0.30,0.10]
}
ecom_data = pd.DataFrame(ecom)
print("data")
print(ecom_data)
print()
print("mean")
print(ecom_data["price"].mean())
print()
print("mode")
print(ecom_data["price"].mode())
print()
print("median")
print(ecom_data["price"].median())

data
    products  quantity  price  discount
0  headphone      3000   1200      0.12
1     mobile      2000  25000      0.15
2   airpodes      8000   3000      0.07
3    speaker      3432   5000      0.05
4     laptop      1200  70000      0.30
5    grinder       870   1200      0.10

mean
17566.666666666668

mode
0    1200
Name: price, dtype: int64

median
4000.0

# Q8

In [8]:
empData = {"Name": ["Deepak Kumar", "Rohit Kumar Kain", "Aryan Mahana", "Adarsh Mishra", "Mannat Mishra"],
           "Age": [20,21,21,19,18],
           "Salary":[100000, 120000, 123000, 123400, 123450],
           "Country":["America", "Canada", "Finland", "Switzerland", "Australia"]}

df_empData = pd.DataFrame(empData)

#quartile is:
print("Quartile is: ")
print(df_empData['Salary'].quantile([0.25, 0.50, 0.75]))

#variance is:

print("\nVariance is: ")
print(df_empData["Salary"].var())

Quartile is:
0.25    120000.0
0.50    123000.0
0.75    123400.0
Name: Salary, dtype: float64

Variance is:
102964500.0

In [7]:
# Random Data
data = np.random.randint(1,10000,50)

# skewness on random data
df_data = pd.DataFrame(data)

print("Skewness is: ", df_data.skew().to_list()[0])

Skewness is:  -0.09140026278373062

In [8]:
# Q10

data = np.random.randint(1,10000,50)

df_data = pd.DataFrame(data)
print("Kurtosis is: ", df_data.kurt().to_list()[0])

Kurtosis is:  -0.7253290740601352

In [25]:
# Q11

Temp1 = pd.Series(np.random.randint(20,42,7))
Temp2 = pd.Series(np.random.randint(20,42,7))
Temp3 = pd.Series(np.random.randint(20,42,7))
Temp4 = pd.Series(np.random.randint(20,42,7))

print("Average Temperature per Week:")
print("Week 1 average Temperature: ", Temp1.mean())
print("Week 2 average Temperature: ", Temp2.mean())
print("Week 3 average Temperature: ", Temp3.mean())
print("Week 4 average Temperature: ", Temp4.mean())

print("Average Temperature of whole month: ", pd.concat([Temp1, Temp2, Temp3, Temp4]).mean())

Average Temperature per Week:
Week 1 average Temperature:  29.571428571428573
Week 2 average Temperature:  35.142857142857146
Week 3 average Temperature:  29.571428571428573
Week 4 average Temperature:  35.0
Average Temperature of whole month:  32.32142857142857